

.tableString {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.tableStringName, .tableStringNameRight {
    width: 100px;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-bottom: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    color: #a0a0a0;
}
.tableStringNameRight {
    border-right: none;
}